[push]
  default = matching
[color]
  branch = auto
  status = auto
  diff = auto
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  di = diff
  us = reset HEAD
  lst = log -1 --abbrev-commit

[color "status"]
  added    = yellow
  changed  = green
  untracked = red
[core]
	excludesfile = /Users/tisdalbe/.gitignore_global
  pager = less -XF
	autocrlf = input
[pull]
  rebase = true
[user]
	name = Ben Tisdall
	email = ben@tisdall.org.uk
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
  path = ~/.git-local
[init]
	defaultBranch = main
